@media (min-width: 767px) {
#editCust .custom-p-r{
    padding-right: 0px !important;
  }
 #editCust  .custom-p-l{
    padding-left: 0px !important;
  }
  
}
@media (max-width: 767px) {
  #editCust label{margin-bottom: 3px !important;}
  }