
#activityLogsPage .card-log {
  border: 1px solid rgba(0, 0, 0, .125) !important;
}

#activityLogsPage .card-log-header {
  background-color: #f7f7f7 !important;
  border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
  margin-bottom: 7px !important;
  padding: 4px 7px !important;
}

#activityLogsPage .card-log-body {
  padding: 3px 7px !important;
}