.searchWrap {
visibility: hidden;
opacity: 0;
}
.card-tenants{border: 1px solid rgba(0, 0, 0, .125) !important;}
.card-tenants-header{background-color: #f7f7f7 !important;border-bottom: 1px solid rgba(0, 0, 0, .125) !important;margin-bottom: 7px !important; padding: 4px 7px !important;}
.card-tenants-body{padding: 3px 7px !important;}

@media (min-width: 767px) {
.searchWrap .dropdown-menu {
width: 237px !important;
}
}


@media (max-width: 767px) {
.pageDetail .searchWrap {
width: 25% !important;
}
.custom-p-m-m{
padding-left: 0px !important;
}
.pageDetail .searchWrap .dropdown-menu {
min-width: calc(77vw - 20px) !important;
transform: translate3d(9.237503px, 3px, 0px) !important;
}
.dropdown-menu .row .col-3{
width: 25% !important;
}
    .pageDetail .searchWrap .dropdown-menu .item {
margin-bottom: 0px !important;
}

.dataTables_filter label {
width: 75% !important;
}

.searchWrap {
margin-top: 0px !important;
}

div.dataTables_filter input {
margin-left: 0px !important;
}

.top {
margin-top: 0px;
margin-bottom: 10px;
}

div.dataTables_wrapper div.dataTables_filter input {
width: 100% !important;
}

.servisDrop {
inset: 0px 0px -412px -213px !important;
}

.pageDetail .searchWrap {
margin-bottom: 0px !important;
}
.staff-header-top{margin-top: 30px;}
}