/* dashboard.css - Super Admin Dashboard Sayfası için özel stiller */

#superAdminDashboardPage .sistatistic-label {
  margin-bottom: 0px !important;
}

#superAdminDashboardPage .superadmin-dashboard-card {
  margin-bottom: 9px !important;
}

@media (max-width: 768px) {
  #superAdminDashboardPage .card-m-h {
    height: 231px !important;
  }

  #superAdminDashboardPage .status-item {
    padding: 4px 34px !important;
  }

  #superAdminDashboardPage .main-top {
    margin-top: 34px !important;
  }

  #superAdminDashboardPage .page-title-box {
    padding-bottom: 5px !important;
  }
}