    .sistatistic-label{
        margin-bottom: 0px !important;
    }
    .superadmin-dashboard-card {
        margin-bottom: 9px !important;
    }
    @media (max-width: 768px) {
       .card-m-h{
        height: 231px !important;
    } 
    .status-item{
        padding: 4px 34px !important;
    }
    .main-top{
        margin-top: 34px !important;
    }
    .page-title-box{
        padding-bottom: 5px !important;
    }
    }