 #batchPlanning .bolgeler option{
    font-size: 12px !important;
  }
  #batchPlanning .cihazlar option{
    font-size: 12px !important;
  }
  #batchPlanning .kaynaklar option{
    font-size: 12px !important;
  }
 #batchPlanning .sag{
    padding-left: 0px !important;
  }
  @media (max-width: 767px) {
    #batchPlanning .row{
        --bs-gutter-x: 0px !important;
    }
    #batchPlanning .servisListe .card-body{
      height: auto !important;
    }
   #batchPlanning .personelServisListele{
      margin-top: 5px;
    }
    #batchPlanning .sag{
      margin-top: 20px !important;
    }
  }