
#serviceInformationForm .card1 {
  border: 1px solid rgba(0, 0, 0, .125);
}

#serviceInformationForm .ch1 {
  background-color: #f7f7f7;
}

#serviceInformationForm .cardWrap2 {
  margin-top: 8px;
}

#serviceInformationForm .card2 .card-header {
  border: 1px solid rgba(0, 0, 0, .125);
  background-color: #f7f7f7;
  border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
}

#serviceInformationForm #card2 {
  border: 1px solid rgba(0, 0, 0, .125);
}

#serviceInformationForm .card5 .card-header {
  border: 1px solid rgba(0, 0, 0, .125);
  background-color: #f7f7f7;
  border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
}

#serviceInformationForm .card5 .card-body {
  border: 1px solid rgba(0, 0, 0, .125);
}

#serviceInformationForm .b1 {
  border: 1px solid rgba(0, 0, 0, .125);
}

/* Mobil responsive düzenlemeler */
@media (max-width: 767px) {
  #serviceInformationForm .text-align-right {
    text-align: left !important;
  }
  
  #serviceInformationForm .right {
    text-align: left !important;
  }
  
  #serviceInformationForm .kayitAlan {
    margin-left: 0px !important;
  }
  
  #serviceInformationForm .servisSil2 {
    width: 100%;
  }
  
  #serviceInformationForm .btn-sm-custom {
    width: 100%;
    margin-top: 4px;
  }
  
  #serviceInformationForm .edit-padding {
    padding: 6px 8px !important;
  }
  
  #serviceInformationForm label {
    margin-bottom: 3px !important;
  }
}