  #serviceReportAccordion .btn-full{
    width: 100%;
  }
  #serviceReportAccordion label{margin-bottom: 3px !important;}
  #serviceReportAccordion .accordion-body {
    padding: 7px 10px !important;
}
@media (max-width: 767px) {
  #serviceReportAccordion .btn-full{
    margin-top: 5px !important;
  }
}