  @media (max-width: 767px) {
    #servisBatchListe .card-footer {
      background-color: rgba(0, 0, 0, .03);
      border-top: 1px solid rgba(0, 0, 0, .125) !important;
    }

    .servisListe {
      border: 1px solid rgba(0, 0, 0, .125) !important;
      padding: 5px 6px !important;
    }

    #servisBatchListe .cardBaslik {
      margin-bottom: 5px !important;
    }

    #servisBatchListe .col-form-label {
      padding-bottom: 1px !important;
    }

    #servisBatchListe .card-footer {
      padding: 5px 0px !important;
    }

    #assignBtn {
      width: 100% !important;
    }

    .personelServisListele {
      width: 100% !important;
    }
  }
/* Büyük ekranlarda geniş, mobilde otomatik */
@media (min-width: 992px) {
  #personelServisDuzenleModal .modal-dialog {
    max-width: 980px;
  }
}

/* Mobilde kenarlarda boşluk bırak */
@media (max-width: 991px) {
  #personelServisDuzenleModal .modal-dialog {
    margin: 0.5rem;
  }
}