#allIntegrationsPage .searchWrap {
    visibility: hidden;
    opacity: 0;
}

#allIntegrationsPage .card-invocies {
    border: 1px solid rgba(0, 0, 0, .125) !important;
}

#allIntegrationsPage .card-invocies-header {
    background-color: #f7f7f7 !important;
    border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
    margin-bottom: 7px !important;
    padding: 4px 7px !important;
}

#allIntegrationsPage .card-invocies-body {
    padding: 3px 7px !important;
}

/* Mobil ve Genel Responsive Düzenlemeler */
@media (max-width: 767px) {
    #allIntegrationsPage .btn-secondary {
        color: #fff !important;
        background-color: #5c636a !important;
        border-color: #565e64 !important;
    }

    #allIntegrationsPage .pageDetail .searchWrap .dropdown-menu .item {
        margin-bottom: 1px !important;
    }

    #allIntegrationsPage .invoices-filtre {
        width: auto !important;
    }

    #allIntegrationsPage .pageDetail .searchWrap .dropdown-menu {
        min-width: calc(90vw - 20px) !important;
        transform: translate3d(9.274994px, 2px, 0px) !important;
    }

    #allIntegrationsPage .searchWrap .tarih-araligi {
        padding: 5px 3px;
    }

    #allIntegrationsPage .custom-p-m-m {
        padding-left: 0px !important;
    }

    #allIntegrationsPage #datatableIntegration_filter {
        margin-right: 0px !important;
    }

    #allIntegrationsPage .searchWrap {
        margin-top: 0px !important;
    }

    #allIntegrationsPage div.dataTables_filter input {
        margin-left: 0px !important;
    }

    #allIntegrationsPage .top {
        margin-top: 19px;
    }

    #allIntegrationsPage div.dataTables_wrapper div.dataTables_filter input {
        width: 227px !important;
    }

    #allIntegrationsPage .servisDrop {
        inset: 0px 0px -412px -213px !important;
    }

    #allIntegrationsPage .pageDetail .searchWrap {
        margin-bottom: 0px !important;
    }
}