
@media (max-width: 768px) {
    .custom-header{
        margin-top: 34px !important;
    }
    .page-title-box{
        padding-bottom: 7px !important;
    }
    .quick-action-btn{
        margin-bottom: 0px !important;
    }
    .btn-secondary{
        padding: 5px 6px !important;
    }
    .fa-arrow-right{
        font-size: 11px;
    }
    .support-dashboard-table-modern .table td{
        padding:5px 4.85rem !important;
    }
}