
#supportIndexPage .filter-card {
  margin-bottom: 0px !important;
}

#supportIndexPage .card-header {
  padding: 5px 6px !important;
}

#supportIndexPage .custom-none {
  display: block !important;
}

@media (max-width: 768px) {
  #supportIndexPage .header-t {
    margin-top: 37px;
  }

  #supportIndexPage .page-title-box {
    padding-bottom: 7px !important;
  }

  #supportIndexPage .table td,
  #supportIndexPage .table th {
    padding: 7px 5.95rem !important;
  }
}