 .card1{
        border: 1px solid rgba(0, 0, 0, .125);
  }
  .ch1{
        background-color: #f7f7f7;
  }
  .cardWrap2{
    margin-top: 8px;
  }
  .card2 .card-header{
    border: 1px solid rgba(0, 0, 0, .125);
     background-color: #f7f7f7;
     border-bottom:1px solid rgba(0, 0, 0, .125) !important;
  }
  #card2{
    border: 1px solid rgba(0, 0, 0, .125);
  }
  .card5 .card-header{
    border: 1px solid rgba(0, 0, 0, .125);
     background-color: #f7f7f7;
     border-bottom:1px solid rgba(0, 0, 0, .125) !important;
  }
  .card5 .card-body{
    border: 1px solid rgba(0, 0, 0, .125);
  }
  .b1{
    border: 1px solid rgba(0, 0, 0, .125);
  }
@media (max-width: 767px) {
 .text-align-right{
  text-align: left !important;
 }
     
    .right {
    text-align: left !important;
}
.kayitAlan {
    margin-left: 0px !important;
}
.servisSil2{
  width: 100%;
}
.btn-sm-custom{
  width: 100%;
  margin-top: 4px;
}
.edit-padding{padding: 6px 8px !important;}
label{margin-bottom: 3px !important;}
}