
#staffPage .servisDrop {
  transition: none !important;
  animation: none !important;
  transform: translate3d(1px, 2px, 0px) !important;
}

#staffPage .card-staff {
  border: 1px solid rgba(0, 0, 0, .125) !important;
}

#staffPage .card-staff-header {
  background-color: #f7f7f7 !important;
  border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
  margin-bottom: 7px !important;
  padding: 4px 7px !important;
}

#staffPage .card-staff-body {
  padding: 3px 7px !important;
}

/* Modal stiller - sadece custom-modal-width kullanan modallara */
#addPersonelModal .custom-modal-width,
#editPersonelModal .custom-modal-width {
  max-width: 360px !important;
}

@media (min-width: 767px) {
  #addPersonelModal .custom-modal-width,
  #editPersonelModal .custom-modal-width {
    max-width: 360px !important;
    margin: 1.75rem auto;
  }

  #staffPage .searchWrap .dropdown-menu {
    width: 271px !important;
  }
}

@media (max-width: 767px) {
  /* Blade içindeki style taginden taşınan CSS'ler */
  #staffPage .pageDetail .card-header {
    padding: 4px 8px !important;
  }

  #staffPage .searchWrap {
    margin-top: 0px !important;
  }

  #staffPage .pageDetail .searchWrap {
    width: 30% !important;
    margin-bottom: 0px !important;
  }

  #staffPage div.dataTables_filter input {
    margin-left: 0 !important;
  }

  #staffPage .dataTables_filter {
    margin-right: 0px !important;
  }

  #staffPage .pageDetail .searchWrap .dropdown-menu {
    transform: translate3d(12px, 1px, 0px) !important;
    width: 100% !important;
    min-width: calc(79vw - 20px) !important;
    padding: 0px !important;
  }

  #staffPage #datatablePersonel_filter label {
    width: 100% !important;
  }

  #staffPage #datatablePersonel_wrapper .dataTables_info {
    width: auto !important;
  }

  #staffPage li.paginate_button.next,
  #staffPage li.paginate_button.previous {
    display: inline-block;
    font-size: 15px;
  }

  /* Önceki CSS'ler */
  #staffPage .pageDetail .searchWrap .dropdown-menu .item {
    margin-bottom: 0px !important;
  }

  #staffPage .custom-p {
    padding-left: 0px !important;
  }

  #staffPage #datatablePersonel_wrapper .bottom {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding-top: 0.85em !important;
  }

  #staffPage .staff-header-top {
    margin-top: 30px;
  }
}

#staffPage #editPers {
  margin-block-end: 0em !important;
}