  .servisDrop {
    transition: none !important;
    animation: none !important;
    transform: translate3d(1px, 2px, 0px) !important;
  }
        @media (max-width: 767px) {
            .searchWrap {
        margin-top: -15px;
        margin-bottom: 0px;
    }
        #giderArea {
        height: auto !important;
    }
    .searchWrap .tarih-araligi {
    padding: 5px 15px !important;
}
    .servisDrop {
        min-width: 310px !important;
        max-width: 95vw;
    }
.btn-secondary {
    color: #fff !important;
    background-color: #5c636a !important;
    border-color: #565e64 !important;
}
.tarihAraligi{
        display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 5px;
}
        }
    