/* cash_statistics.css - Kasa İstatistikleri Sayfası için özel stiller */

#cashStatisticsPage .servisDrop {
  transition: none !important;
  animation: none !important;
  transform: translate3d(1px, 2px, 0px) !important;
}

@media (max-width: 767px) {
  #cashStatisticsPage .searchWrap {
    margin-top: -15px;
    margin-bottom: 0px;
  }

  #cashStatisticsPage #giderArea {
    height: auto !important;
  }

  #cashStatisticsPage .searchWrap .tarih-araligi {
    padding: 5px 15px !important;
  }

  #cashStatisticsPage .servisDrop {
    min-width: 310px !important;
    max-width: 95vw;
  }

  #cashStatisticsPage .btn-secondary {
    color: #fff !important;
    background-color: #5c636a !important;
    border-color: #565e64 !important;
  }

  #cashStatisticsPage .tarihAraligi {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 5px;
  }
}