#ilceStats .searchWrap {
  visibility: hidden;
  opacity: 0;
}

#ilceStats .servisDrop {
  transition: none !important;
  animation: none !important;
  transform: translate3d(1px, 2px, 0px) !important;
}

@media (min-width: 768px) {
  #ilceStats .table-modern .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #ilceStats .table-modern .card-header .d-flex {
    margin-bottom: 0 !important; 
    width: auto !important;
  }
}

@media (max-width: 767px) {
  #ilceStats .pageDetail .searchWrap .dropdown-menu {
    transform: translate3d(-173px, 2px, 0px) !important;
    min-width: calc(89vw - 85px) !important;
    inset: 0px auto auto 0px !important;
  }

  #ilceStats .searchWrap .tarih-araligi {
    padding: 5px 0px !important;
  }

  #ilceStats .btn-secondary {
    color: #fff !important;
    background-color: #5c636a !important;
    border-color: #565e64 !important;
  }

  #ilceStats .servis-istatistik .btn-action {
    padding: 4px 4px !important;
    font-size: 9px !important;
  }

  #ilceStats .pageDetail .searchWrap {
    width: 30% !important;
  }

  #ilceStats .searchWrap {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  #ilceStats div.dataTables_filter input {
    margin-left: 0 !important;
  }

  #ilceStats .dataTables_filter {
    margin-right: 0 !important;
  }
}