/* operator_statistics.css - Operatör İstatistikleri Sayfası için özel stiller */

#operatorStats .searchWrap {
  visibility: hidden;
  opacity: 0;
}

#operatorStats .card-statics-op {
  border: 1px solid rgba(0, 0, 0, .125) !important;
}

#operatorStats .card-statics-op-header {
  background-color: #f7f7f7 !important;
  border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
  margin-bottom: 7px !important;
  padding: 4px 7px !important;
}

#operatorStats .card-statics-op-body {
  padding: 3px 7px !important;
}

#operatorStats .servisDrop {
  transition: none !important;
  animation: none !important;
  transform: translate3d(1px, 2px, 0px) !important;
}

@media (min-width: 768px) {
  #operatorStats .table-modern .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #operatorStats .table-modern .card-header .d-flex {
    margin-bottom: 0 !important;
    width: auto !important;
  }
}

@media (max-width: 767px) {
  #operatorStats .pageDetail .searchWrap .dropdown-menu {
    transform: translate3d(-170px, 2px, 0px) !important;
    min-width: calc(87vw - 79px) !important;
    inset: 0px auto auto 0px !important;
  }

  #operatorStats .pageDetail .searchWrap {
    width: 30% !important;
    margin-bottom: 0px !important;
  }

  #operatorStats #datatableInvoice_filter {
    margin-right: 0px !important;
  }

  #operatorStats .searchWrap {
    margin-top: 0px !important;
  }

  #operatorStats div.dataTables_filter input {
    margin-left: 0px !important;
  }

  #operatorStats .btn-secondary {
    color: #fff !important;
    background-color: #5c636a !important;
    border-color: #565e64 !important;
  }

  #operatorStats .searchWrap .tarih-araligi {
    padding: 5px 0px !important;
  }
}