    @media (max-width: 576px) {
        .tarihAraligi{
        display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 2px !important;
        }
        .head-b {
            font-size: 17px !important;
        }
        .head-padding h5{
            font-size: 14px;
            margin-top: 5px !important;
        }
        .col-c{
            flex-direction: row !important;
        }
        .col-j{
            align-items: flex-start !important;
            margin-top: 3px;
        }
        .grafik-csutom{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .tarih-m-l{
            margin-left: -46px;
        }
            .servisSayilariChart .nav-link, .servisSaatleriChart .nav-link {
        padding: 0.35rem 0.3rem !important;
    }
    .btn-secondary {
    color: #fff !important;
    background-color: #5c636a !important;
    border-color: #565e64 !important;
}
    }
    @media (min-width: 576px) {
        .calendar{
        margin-top: 4px !important;
        margin-right: 5px !important;
    }
    }
    
    .period-statistics{
    border: 1px solid #d7d7d7;
    padding: 5px;
    }
    .sayfaBaslik .btn-group {
        padding-right: 5px !important;
         padding-top: 5px !important;
    }
    .istatistik-card  .sayfaBaslik{ padding: 5px;
    padding-left: 9px !important;   background-color: #e5e4e4;}
    .card-p-c{
        margin-bottom: 0px !important;
    }
    .grafik-t-c{
        margin-top: 10px !important;
    }
    .col-c{
        background-color:#e5e4e4 !important ;
    }
    .col-j{
        background-color:#e5e4e4 !important ;
    }

    .card-statics{border: 1px solid rgba(0, 0, 0, .125) !important;}
.card-statics-header{background-color: #f7f7f7 !important;border-bottom: 1px solid rgba(0, 0, 0, .125) !important;margin-bottom: 7px !important; padding: 4px 7px !important;}
  .card-statics-body{padding: 3px 7px !important;}
  .servisDrop {
    transition: none !important;
    animation: none !important;
    transform: translate3d(1px, 2px, 0px) !important;
  }