#stateStats .servisDrop {
  transition: none !important;
  animation: none !important;
  transform: translate3d(1px, 2px, 0px) !important;
}

@media (min-width: 768px) {
  #stateStats .table-modern .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #stateStats .table-modern .card-header .d-flex {
    margin-bottom: 0 !important; 
    width: auto !important;      
  }
}

@media (max-width: 767px) {
  #stateStats .pageDetail .searchWrap .dropdown-menu {
    transform: translate3d(-173px, 2px, 0px) !important;
    min-width: calc(89vw - 72px) !important;
    inset: 0px auto auto 0px !important;
  }

  #stateStats .pageDetail .searchWrap {
    width: 30% !important;
    margin-bottom: 0px !important;
  }

  #stateStats #datatableInvoice_filter {
    margin-right: 0px !important;
  }

  #stateStats .searchWrap {
    margin-top: 0px !important;
  }

  #stateStats div.dataTables_filter input {
    margin-left: 0px !important;
  }

  #stateStats .searchWrap .tarih-araligi {
    padding: 5px 0px !important;
  }

  #stateStats .btn-secondary {
    color: #fff !important;
    background-color: #5c636a !important;
    border-color: #565e64 !important;
  }

  #stateStats .servis-istatistik .btn-action {
    padding: 4px 6px !important;
  }
}