    
.card-statics-t{border: 1px solid rgba(0, 0, 0, .125) !important;}
.card-statics-t-header{background-color: #f7f7f7 !important;border-bottom: 1px solid rgba(0, 0, 0, .125) !important;margin-bottom: 7px !important; padding: 4px 7px !important;}
  .card-statics-t-body{padding: 3px 7px !important;}
  .servisDrop {
    transition: none !important;
    animation: none !important;
    transform: translate3d(1px, 2px, 0px) !important;
  }
  .teknisyen-dropdown .tarih-butonlari .btn.active {
    background-color: #ffffffff !important;
    color: red !important;
}
  @media (max-width: 576px) {
    .custom-header{display: none !important;}
    .teknisyen-dropdown .tarih-butonlari .btn {
    background-color: #5c636a !important;
    color: white !important;
}
.teknisyen-dropdown .tarih-butonlari .btn.active {
    background-color: #5c636a !important;
    color: white !important;
}
  }