/* add_invoices.css - Fatura Ekleme Sayfası için özel stiller */

.add_invoices_superadmin .card-header {
  padding: 5px 7px !important;
}

.add_invoices_superadmin .custom-m {
  margin-bottom: 0px !important;
}

.add_invoices_superadmin .card-invocies {
  border: 1px solid rgba(0, 0, 0, .125) !important;
}

.add_invoices_superadmin .card-invocies-header {
  background-color: #f7f7f7 !important;
  border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
  margin-bottom: 7px !important;
  padding: 4px 7px !important;
}

.add_invoices_superadmin .card-invocies-body {
  padding: 3px 7px !important;
}