.card-header{
padding: 5px 7px !important;
}
.custom-m{
margin-bottom: 0px !important;
}
.card-invocies{border: 1px solid rgba(0, 0, 0, .125) !important;}
.card-invocies-header{background-color: #f7f7f7 !important;border-bottom: 1px solid rgba(0, 0, 0, .125) !important;margin-bottom: 7px !important; padding: 4px 7px !important;}
.card-invocies-body{padding: 3px 7px !important;}
