/* all_invoices.css - Tüm Faturalar Sayfası için özel stiller */

#allInvoicesPage .searchWrap {
  visibility: hidden;
  opacity: 0;
}

#allInvoicesPage .card-invocies {
  border: 1px solid rgba(0, 0, 0, .125) !important;
}

#allInvoicesPage .card-invocies-header {
  background-color: #f7f7f7 !important;
  border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
  margin-bottom: 7px !important;
  padding: 4px 7px !important;
}

#allInvoicesPage .card-invocies-body {
  padding: 3px 7px !important;
}

@media (max-width: 767px) {
  #allInvoicesPage .btn-secondary {
    color: #fff !important;
    background-color: #5c636a !important;
    border-color: #565e64 !important;
  }

  #allInvoicesPage .pageDetail .searchWrap .dropdown-menu .item {
    margin-bottom: 10px !important;
  }

  #allInvoicesPage .invoices-filtre {
    width: auto !important;
  }

  #allInvoicesPage .pageDetail .searchWrap .dropdown-menu {
    min-width: calc(90vw - 20px) !important;
    transform: translate3d(9.274994px, 2px, 0px) !important;
  }

  #allInvoicesPage .searchWrap .tarih-araligi {
    padding: 5px 3px;
  }

  #allInvoicesPage .custom-p-m-m {
    padding-left: 0px !important;
  }

  #allInvoicesPage #datatableInvoice_filter {
    margin-right: 0px !important;
  }

  #allInvoicesPage .searchWrap {
    margin-top: 0px !important;
  }

  #allInvoicesPage div.dataTables_filter input {
    margin-left: 0px !important;
  }

  #allInvoicesPage .top {
    margin-top: 19px;
  }

  #allInvoicesPage div.dataTables_wrapper div.dataTables_filter input {
    width: 227px !important;
  }

  #allInvoicesPage .servisDrop {
    inset: 0px 0px -412px -213px !important;
  }

  #allInvoicesPage .pageDetail .searchWrap {
    margin-bottom: 0px !important;
  }
}