/* edit_invoices.css - Fatura Düzenleme Sayfası için özel stiller */

.edit_invoices_superadmin .card-invocies {
  border: 1px solid rgba(0, 0, 0, .125) !important;
}

.edit_invoices_superadmin .card-invocies-header {
  background-color: #f7f7f7 !important;
  border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
  margin-bottom: 7px !important;
  padding: 4px 7px !important;
}

.edit_invoices_superadmin .card-invocies-body {
  padding: 3px 7px !important;
}

@media (min-width: 767px) {
  .edit_invoices_superadmin .tarihWrap {
    float: inline-end;
  }
}

@media (max-width: 767px) {
  .edit_invoices_superadmin .tarihWrap {
    display: flex;
    padding: 4px 5px;
  }
}