@media (min-width: 767px) {
.custom-p-r{
    padding-right: 0px !important;
  }
  .custom-p-l{
    padding-left: 0px !important;
  }
}
@media (max-width: 767px) {
  #editBayi label{margin-bottom: 3px !important;}
}

#editBayi{margin-block-end: 0em !important;}