@media (min-width: 767px) {
#addConsignmentDevice.custom-p-r{
    padding-right: 0px !important;
  }
 #addConsignmentDevice.custom-p-l{
    padding-left: 0px !important;
  }
}
@media (max-width: 767px) {
    #addConsignmentDevice label{margin-bottom: 3px !important;}
}