    .servisDrop {
      transition: none !important;
      animation: none !important;
      transform: translate3d(1px, 2px, 0px) !important;
    }

    .card-stock {
      border: 1px solid rgba(0, 0, 0, .125) !important;
    }

    .card-stock-header {
      background-color: #f7f7f7 !important;
      border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
      margin-bottom: 7px !important;
      padding: 4px 7px !important;
    }

    .card-stock-body {
      padding: 3px 7px !important;
    }

    @media (min-width: 768px) {
      .custom-modal-width {
        max-width: 340px;
        margin: 1.75rem auto;
      }

      .searchWrap .dropdown-menu {
        width: 321px !important;
      }
    }


    @media (max-width: 767px) {
      .stock-header-top{margin-top: 30px;}
      .custom-p {
        padding-left: 0px !important;
      }

      .searchWrap {
        margin-top: 0px !important;
      }

      .pageDetail .searchWrap .dropdown-menu .item {
        margin-bottom: 0px !important;
      }

      .pageDetail .searchWrap {
        width: 30% !important;
      }

      .pageDetail .searchWrap {
        margin-bottom: 0px !important;
      }

      div.dataTables_filter input {
        margin-left: 0 !important;
      }

      .dataTables_filter {
        margin-right: 0px !important;
      }

      #datatableStock_filter label {
        width: 100% !important;
      }

      .pageDetail .searchWrap .dropdown-menu {
        transform: translate3d(11px, 1px, 0px) !important;
        width: 100% !important;
        min-width: calc(79vw - 20px) !important;
        padding: 0px !important;
      }

      li.paginate_button.next,
      li.paginate_button.previous {
        font-size: 15px;
      }
      .btn-secondary {
    color: #fff !important;
    background-color: #5c636a !important;
    border-color: #565e64 !important;
    }
  }
