/* all_stock.css - Depo Stoklar Sayfası için özel stiller */

#stockPage .servisDrop {
  transition: none !important;
  animation: none !important;
  transform: translate3d(1px, 2px, 0px) !important;
}

#stockPage .card-stock {
  border: 1px solid rgba(0, 0, 0, .125) !important;
}

#stockPage .card-stock-header {
  background-color: #f7f7f7 !important;
  border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
  margin-bottom: 7px !important;
  padding: 4px 7px !important;
}

#stockPage .card-stock-body {
  padding: 3px 7px !important;
}

@media (min-width: 768px) {
  #addStockModal .custom-modal-width,
  #editStockModal .custom-modal-width {
    max-width: 340px;
    margin: 1.75rem auto;
  }

  #stockPage .searchWrap .dropdown-menu {
    width: 321px !important;
  }
}

@media (max-width: 767px) {
  #stockPage .stock-header-top {
    margin-top: 30px;
  }

  #stockPage .custom-p {
    padding-left: 0px !important;
  }

  #stockPage .searchWrap {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  #stockPage .pageDetail .searchWrap .dropdown-menu .item {
    margin-bottom: 0px !important;
  }

  #stockPage .pageDetail .searchWrap {
    width: 30% !important;
  }

  #stockPage div.dataTables_filter input {
    margin-left: 0 !important;
  }

  #stockPage .dataTables_filter {
    margin-right: 0px !important;
  }

  #stockPage #datatableStock_filter label {
    width: 100% !important;
  }

  #stockPage .pageDetail .searchWrap .dropdown-menu {
    transform: translate3d(11px, 1px, 0px) !important;
    width: 100% !important;
    min-width: calc(79vw - 20px) !important;
    padding: 0px !important;
  }

  #stockPage li.paginate_button.next,
  #stockPage li.paginate_button.previous {
    font-size: 15px;
  }

  #stockPage .btn-secondary {
    color: #fff !important;
    background-color: #5c636a !important;
    border-color: #565e64 !important;
  }
}