
#editConsignmentModal .card-stock {
  border: 1px solid rgba(0, 0, 0, .125) !important;
}

#editConsignmentModal .modal-footer {
  padding: 2px !important;
}

#editConsignmentModal .card-stock-header {
  background-color: #f7f7f7 !important;
  border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
  margin-bottom: 7px !important;
  padding: 6px 7px !important;
}

#editConsignmentModal .card-stock-body {
  padding: 5px 7px !important;
}

#hareketEkleModal .modal-dialog-konsinye {
  max-width: 335px !important;
}

#hareketEkleModal .modal-footer {
  padding: 2px !important;
}

#editConsignmentModal .select2-container--bootstrap-5 .select2-selection {
  padding: .175rem .75rem !important;
}

#editConsignmentModal .table > tbody > tr > td {
  padding-left: 3px !important;
}

#editConsignmentModal .scrollable-card-body {
  max-height: 450px;
  overflow-y: auto;
}

#editConsignmentModal .scrollable-card-body thead th {
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
  z-index: 1;
}

#editConsignmentModal .col-form-label-sm {
  font-size: .800rem;
}

#editConsignmentModal .toplam-header-row {
  background-color: #f8f9fa;
  border-bottom: 2px solid #dee2e6;
}

@media (max-width: 767px) {
  #editConsignmentModal .card-stock-header h5 {
    font-size: 13px !important;
  }

  #editConsignmentModal #editConsignmentModalTitle {
    font-size: 15px !important;
  }
}