   .servisDrop {
      transition: none !important;
      animation: none !important;
      transform: translate3d(1px, 2px, 0px) !important;
    }

    .card-invoices {
      border: 1px solid rgba(0, 0, 0, .125) !important;
    }

    .card-invoices-header {
      background-color: #f7f7f7 !important;
      border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
      margin-bottom: 7px !important;
      padding: 4px 7px !important;
    }

    .card-invoices-body {
      padding: 3px 7px !important;
    }
    .modal-dialog-custom{
      max-width: 375px !important;
    }

    @media (min-width: 767px) {
      .custom-p-r {
        padding-right: 0px !important;
      }

      .custom-p-l {
        padding-left: 0px !important;
      }
    }

    @media (min-width: 768px) {
      .custom-modal-width {
        max-width: 390px;
        margin: 1.75rem auto;
      }
    }

    @media (max-width: 767px) {
      .custom-p {
        padding-left: 0px !important;
      }

      .pageDetail .searchWrap .dropdown-menu .item {
        margin-bottom: 0px !important;
      }

      .searchWrap {
        margin-top: 0px !important;
      }

      .pageDetail .searchWrap {}

      .pageDetail .searchWrap {
        margin-bottom: 0px !important;
      }

      div.dataTables_filter input {
        margin-left: 0 !important;
      }

      .dataTables_filter {
        margin-right: 0px !important;
      }

      #datatableInvoice_wrapper .dataTables_info {
        width: auto !important;
      }

      #datatableInvoice_wrapper .bottom {
        flex-direction: row !important;
      }

      li.paginate_button.next,
      li.paginate_button.previous {
        font-size: 15px;
      }

      .pageDetail .searchWrap .dropdown-menu {
        transform: translate3d(10px, 1px, 0px) !important;
        min-width: calc(92vw - 20px) !important;
      }

      .searchWrap .dropdown-menu {
        padding: 0px;
      }

      .pageDetail .searchWrap .dropdown-menu .item {
        margin-bottom: 0px !important;
      }

      .pageDetail .searchWrap .tarihAraligi .btn {
        color: #fff !important;
        background-color: #5c636a !important;
        border-color: #565e64 !important;
      }

      .searchWrap .tarih-araligi {
        padding: 5px 10px !important;
      }
      .staff-header-top{margin-top: 30px;}
    }