#editInvo body {
    background-color: #f4f6f9;
  }

  #editInvo .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    margin-bottom: 20px;
  }

  #editInvo .card-header {
    background-color: #f8f9fa;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 15px;
  }

  #editInvo .rw1, #editInvo .rw2, #editInvo .rw3, #editInvo .rw4 {
    margin-bottom: 0;
  }

  #editInvo .kisaMusteriBil span {
    display: block;
    margin-bottom: 4px;
  }

  #editInvo .btnWrap .btn {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  #editInvo .btnWrap {
    display: flex;
    align-items: baseline;
  }

  #editInvo .tarihWrap input[type="date"] {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 6px;
    border: 1px solid #ced4da;
  }

  #editInvo .card-invoices {
      border: 1px solid rgba(0, 0, 0, .125) !important;
    }

    #editInvo .card-invoices-header {
      background-color: #f7f7f7 !important;
      border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
      margin-bottom: 7px !important;
      padding: 4px 7px !important;
    }

   #editInvo .card-invoices-body {
      padding: 3px 7px !important;
    }
    #editInvo .card-header:first-child {
    border-radius: 0.55rem .55rem 0 0 !important;
}

#editInvo .btn-outline-danger-custom {
    color: #fff;
    background-color: #f32f53;
    border-color: #f32f53;
}
@media (max-width: 767px) {
  #editInvo .custom-rw1{--bs-gutter-x: 4px;}
  #editInvo .pr-custom{padding-right: 14px;}
}
#editInvo #tahsilatlariGorModal .alert{margin-bottom: 0!important;}