.filter-card{
    margin-bottom: 0px !important;
}
.card-header{
    padding: 5px 6px !important;
}
.custom-none{
    display: block !important;
}
@media (max-width: 768px) {
    .header-t{
    margin-top: 37px;
}  
.page-title-box{
    padding-bottom: 7px !important;
}
    .support-index-page .table td, .support-index-page .table th{
        padding:7px 5.95rem !important;
    }
}
