@media (min-width: 767px) {
#addBayi .custom-p-r{
    padding-right: 0px !important;
  }
  #addBayi .custom-p-l{
    padding-left: 0px !important;
  }
}
@media (max-width: 767px) {
    #addBayi label{margin-bottom: 3px !important;}
  }