  @media (max-width: 767px) {




      div.dataTables_filter input {
        margin-left: 0 !important;
      }

      .dataTables_filter {
        margin-right: 0px !important;
      }

      .pageDetail .kasaArama {
        margin-right: 0px !important;

      }

      #datatableKasa_wrapper .kasaArama {
        display: none;
      }

      #datatableKasa_filter label {
        width: 100% !important;
      }

      #datatableKasa_filter label {
        margin-bottom: 0px !important;
      }

      #datatableKasa_wrapper .dataTables_filter {
        margin-bottom: -1px !important;
      }
      .hide-on-mobile {
        display: none !important;
      }
    }

    @media (min-width: 768px) {
      .custom-modal-width {
        max-width: 390px;
        margin: 1.75rem auto;
      }
    }

    #kasaArama {
      background-color: #343a40 !important;
    }
    .kasaArama {
          background-color: #343a40;
    color: white;
    }
