@media (min-width: 767px) {
#editDom .custom-p-r{
    padding-right: 0px !important;
  }
 #editDom .custom-p-l{
    padding-left: 0px !important;
  }
}
@media (max-width: 767px) {
  #editDom label {
        margin-bottom: 3px !important;
      }
}