@media (min-width: 767px) {
#addCall .custom-p-r{
    padding-right: 0px !important;
  }
  #addCall .custom-p-l{
    padding-left: 0px !important;
  }
  
}
@media (max-width: 767px) {
  #addCall label{margin-bottom: 3px !important;}
}